extends layout

block content
  h1 试验田项目
  p.lead A playground for Mr. Zhan.
  hr
  .row
    .col-sm-6
      h2 按关键字查询
      p 输入关键字母或多字母组合，查找相关词汇
      p
        a.btn.btn-default(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »